/* ----- Hero in Base ----- */

.hero{
    background-image:   linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                        url(../img/biznes-perevirka-bg.jpg);
}


/* ----- Cases ----- */

/* .cases .title{
  margin-top: 150px;
  margin-bottom: 120px;
  max-width: 750px;
}

.cases-list{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;

  max-width: 65%;
  margin-left: auto;
}

.cases-item{
  max-width: 280px;
}

.cases-item-title{
  margin-bottom: 30px;
} */
/* ----- Checks ----- */

.checks .title{
  margin-bottom: 120px;
  max-width: 650px;
}

.checks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;

}

.checks-item {
  max-width: 210px;
}

.checks-item:nth-child(4) {
  margin-left: 35%;
}

.checks-number{
  margin-bottom: 20px;
  font-weight: 100;
}

/* ----- Benefits ----- */
/* .benefits .title{
  max-width: 755px;
  margin-bottom: 60px;
}

.benefits-list{
  display: flex;
  gap: 13px;
}

.benefits-item{
  max-width: 260px;
  padding: 80px 30px 80px 30px;
  text-align: center;

border: var(--border);
border-radius: var(--border-radius);
} */


/* ----- Call-to-action in Base ----- */
/* ----- research ----- */
.research .title{
  margin-bottom: 85px;
  max-width: 685px
}

.research-content{
  display: flex;
  justify-content: space-between;

  padding: 70px 90px;
  border: var(--border);
  border-radius: var(--border-radius);
}


.research-text{
  max-width: 400px;
  line-height: 1.5;
}
/* ----- Stages ----- */
/* .stages .title{ */
  /* margin-bottom: 50px;
}

.stages-item{
  display: flex;
  align-items: center;
  gap: 55px;
  padding: 40px 0;
  margin-bottom: 30px;
  border-bottom: var(--border);
}

.stages-item-title{
  width: 350px;
  flex-shrink: 0;

  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;

}

.stages-item-text{
  max-width: 460px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  line-height: 1.5;
}

.stages-item-number{
  font-size: 30px;
  font-weight: 100;
} */
/* ----- Faq in base----- */
