/* ----- Hero ----- */

.hero {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                    url(../img/perevirka_osobustogo_haraktery-bg.jpg);
}






/* ----- Reasons ----- */
.reasons .title{
  margin-bottom: 200px;
}

.reasons-list{
  display: flex;
  gap: 35px;

  margin-left: 230px;

}

.reasons-item{
  max-width: 210px;
}

.reasons-item-title{
  margin-bottom: 30px;
}


/* ----- Process ----- */
.process .title{
  margin-bottom: 200px;
}

.process-list{
  display: flex;
}

.process-item{
  max-width: 325px;
  padding: 30px 70px 30px 30px;
}

.process-item-title{
  margin-bottom: 30px;
}

/* ----- Call to action in Base.css ----- */
/* ----- Personal ----- */
.personal .container{
  display: flex;
}

.personal .title{
  max-width: 420px;
}

.personal-content{
  max-width: 500px;
  margin-left: auto;
}



/* ----- Research in base----- */





/* ----- Stages  in base----- */






/* ----- Faq in Base----- */

