/* ----- Hero ----- */

.hero-title{
  font-size: 70px;
  
  margin-bottom: 35px;
}

.hero-sub-title{
  font-size: 20px;
  margin-bottom: 30px;
  max-width: 565px;
}

.hero-txt{
  max-width: 600px;
  margin-bottom: 65px;
}


/* ----- team ----- */
/* ----- development ----- */
/* ----- equipment ----- */
/* ----- locations ----- */
/* ----- how-we-work ----- */
/* ----- audience ----- */
/* ----- why-us ----- */
/* ----- call-to-action ----- */