/* ----- Hero ----- */

.hero{
    background-image:   linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                        url(../img/rozsliduvannya_incydentiv-bg.jpg);
}



/* ----- Process in base ----- */

/* ----- Call-to-action in base ----- */

/* ----- Incidents ----- */
.incidents-content{
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.incidents-text{
  line-height: 1.4;
}

/* ----- Research ----- */

.research .title{
  margin-bottom: 85px;
  max-width: 685px
}

.research-content{
  display: flex;
  justify-content: space-between;

  padding: 70px 90px;
  border: var(--border);
  border-radius: var(--border-radius);
}


.research-text{
  max-width: 400px;
  line-height: 1.5;
}
/* ----- Faq ----- */
