$main-color: #ffffff;
$secondary-color: #999999;
$accent-color: #c90000;
$bg-color: #0C0C0E;
$number-color: #7D7D7D;
$border-color: #444444;

$border: 1px solid #444444;
$border-accent: 1px solid #c90000;
$border-accent-sec: 1px solid rgba(224, 43, 43, 0.4);
$border-radius: 10px;