@import '../variables';

/* ----- Hero in Base ----- */
/* ----- Cases ----- */
/* ----- Checks ----- */
.checks .title{
  max-width: 650px;
}
/* ----- Benefits ----- */
/* ----- Call-to-action in Base ----- */
/* ----- research ----- */
.research .title{
  margin-bottom: 85px;
  max-width: 685px
}

.research-content{
  display: flex;
  justify-content: space-between;

  padding: 70px 90px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.research-text{
  max-width: 400px;
  line-height: 1.5;
}
/* ----- Stages ----- */
/* ----- Faq in base----- */
